body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  text-align: center;
}

#inputText {
  text-align: center;
}

.form-group {
  text-align: center;
  padding: 20px 0px 10px 0px;
  margin: 0 auto;
  width: 50%;
}

#submit {
  margin: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.image-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: gainsboro;
  border-radius: 5px;
}
.customise-panel {
  margin: auto;
  padding: 15px;
  width: 50%;
}

#colorContainer {
  padding: 0px;
  margin: auto;
}

h4 {
  margin: auto;
  padding: 10px;
}

p {
  margin: 5px;
}

.cfooter {
  margin: auto;
  text-align: center;
  /* position: absolute; */
  bottom: 10px;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}
